
@{
    ViewBag.Title = "BlankReport";
    Layout = null;
}

<div class="blank-report">
    <img src="@Url.Content("~/Content/Images/ReportBackground.png")" />
</div>

<style>
    .blank-report {
        width: 100%;
        height: 90%;
        text-align: center;
        opacity: 0.3;
    }

        .blank-report img {
            width: 41%;
        }
</style>