<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IndexEntities" connectionString="metadata=res://*/Index.csdl|res://*/Index.ssdl|res://*/Index.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C1F6H0O\SQLEXPRESS2016;initial catalog=IndexCA;user id=sa;password=prueba123$$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="IndexEntities" connectionString="metadata=res://*/Index.csdl|res://*/Index.ssdl|res://*/Index.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=indexclouddb.eastus.cloudapp.azure.com;initial catalog=IndexCA;user id=rymctrladuanas;password=rym2017$$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSOPASoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSOPASoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sws.export.com.gt/WS_OPA_2015/WSOPA.asmx"
          binding="basicHttpBinding" bindingConfiguration="WSOPASoap"
          contract="OpaService.WSOPASoap" name="WSOPASoap" />
    </client>
  </system.serviceModel>
</configuration>