<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="IndexEntities" connectionString="metadata=res://*/Index.csdl|res://*/Index.ssdl|res://*/Index.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVBDINDEX2\SQLSERVER2014EXP;initial catalog=IndexCA;user id=sa;password=index2017$$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSOPASoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSOPASoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sws.export.com.gt/WS_OPA_2015/WSOPA.asmx"
          binding="basicHttpBinding" bindingConfiguration="WSOPASoap"
          contract="OpaService.WSOPASoap" name="WSOPASoap" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="AlwaysTrue" value="false"/>
  </appSettings>
</configuration>